{% extends "layout.html" %}
{% block content %}

<main>
    <h1>いろんな県の情報をGETしよう！</h1>
    <p>～気になる画像をクリックすれば、その県のまとめサイトへ移動できます～</p>
    <h2>北海道・東北地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/北海道.webp" alt="北海道">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/215/articles/" target="_blank">北海道_札幌</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/青森.jpg" alt="青森">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/216/articles/" target="_blank">青森県_白神山地</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/岩手.jpg" alt="岩手">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/217/articles/" target="_blank">岩手県_中尊寺金色堂</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/宮城.png" alt="宮城">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/218/articles/" target="_blank">宮城県_松島</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/秋田.jpeg" alt="秋田">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/219/articles/" target="_blank">秋田県_秋田竿灯まつり</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/山形.jpg" alt="山形">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/220/articles/" target="_blank">山形県_銀山温泉</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/福島.jpg" alt="福島">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/221/articles/" target="_blank">福島県_若松城</a>
                </div>
            </div>
        </li>
    </ul>
    
    <h2>関東地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/東京.webp" alt="東京">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/229/articles/" target="_blank">東京都_東京タワー</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/神奈川.jpg" alt="神奈川">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/230/articles/" target="_blank">神奈川県_みなとみらい</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/千葉.jpg" alt="千葉">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/228/articles/" target="_blank">千葉県_ディズニーランド</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/埼玉.jpg" alt="埼玉">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/227/articles/" target="_blank">埼玉県_川越氷川神社</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/茨城.jpg" alt="茨城">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/222/articles/" target="_blank">茨城県_ひたち海浜公園</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/栃木.jpg" alt="栃木">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/225/articles/" target="_blank">栃木県_日光東照宮</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/群馬.jpg" alt="群馬">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/226/articles/" target="_blank">群馬県_草津温泉</a>
                </div>
            </div>
        </li>
    </ul>

    <h2>中部地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/長野.webp" alt="長野">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/236/articles/" target="_blank">長野県_松本城</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/新潟.jpg" alt="新潟">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/231/articles/" target="_blank">新潟県_長岡まつり大花火大会</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/山梨.jpg" alt="山梨">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/235/articles/" target="_blank">山梨県_富士急ハイランド</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/石川.jpg" alt="石川">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/233/articles/" target="_blank">石川県_金沢</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/富山.jpg" alt="富山">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/232/articles/" target="_blank">富山県_黒部ダム</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/福井.jpg" alt="福井">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/234/articles/" target="_blank">福井県_福井県立恐竜博物館</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/愛知.jpg" alt="愛知">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/239/articles/" target="_blank">愛知県_名古屋</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/静岡.jpg" alt="静岡">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/238/articles/" target="_blank">静岡県_三島スカイウォーク</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/岐阜.jpg" alt="岐阜">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/237/articles/" target="_blank">岐阜県_白川郷</a>
                </div>
            </div>
        </li>
    </ul>

    <h2>近畿地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/三重.webp" alt="三重">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/240/articles/" target="_blank">三重県_伊勢神宮</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/大阪.jpg" alt="大阪">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/243/articles/" target="_blank">大阪府_道頓堀</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/京都.jpg" alt="京都">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/242/articles/" target="_blank">京都府_清水寺</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/兵庫.jpg" alt="兵庫">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/244/articles/" target="_blank">兵庫県_神戸</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/奈良.jpg" alt="奈良">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/245/articles/" target="_blank">奈良県_鹿公園</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/滋賀.jpg" alt="滋賀">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/241/articles/" target="_blank">滋賀県_イチョウ並木</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/和歌山.jpg" alt="和歌山">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/246/articles/" target="_blank">和歌山県_熊野古道</a>
                </div>
            </div>
        </li>
    </ul>

    <h2>中国地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/広島.jpg" alt="広島">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/249/articles/" target="_blank">広島県_厳島神社</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/岡山.jpg" alt="岡山">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/248/articles/" target="_blank">岡山県_倉敷</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/山口.jpg" alt="山口">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/250/articles/" target="_blank">山口県_下関</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/島根.jpg" alt="島根">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/247/articles/" target="_blank">島根県_出雲大社</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/鳥取.jpg" alt="鳥取">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/17/articles/" target="_blank">鳥取県_鳥取砂丘</a>
                </div>
            </div>
        </li>
    </ul>

    <h2>四国地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/徳島.jpg" alt="徳島">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/251/articles/" target="_blank">徳島県_鳴門海峡</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/香川.jpg" alt="香川">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/252/articles/" target="_blank">香川県_讃岐うどん</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/愛媛.jpg" alt="愛媛">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/253/articles/" target="_blank">愛媛県_松山城</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/高知.jpg" alt="高知">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/254/articles/" target="_blank">高知県_坂本龍馬像</a>
                </div>
            </div>
        </li>
    </ul>

    <h2>九州・沖縄地方</h2>
    <ul class="slider">
        <li>
            <div class="sample1">
                <img src="../static/images/沖縄.jpg" alt="沖縄">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/262/articles/" target="_blank">沖縄県_宮古島</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/福岡.jpg" alt="福岡">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/255/articles/" target="_blank">福岡県_太宰府天満宮</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/熊本.jpg" alt="熊本">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/258/articles/" target="_blank">熊本県_菊池渓谷</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/鹿児島.jpg" alt="鹿児島">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/261/articles/" target="_blank">鹿児島県_桜島</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/長崎.jpg" alt="長崎">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/257/articles/" target="_blank">長崎県_軍艦島</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/大分.jpeg" alt="大分">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/259/articles/" target="_blank">大分県_別府温泉</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/宮崎.jpg" alt="宮崎">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/260/articles/" target="_blank">宮崎県_高千穂峡</a>
                </div>
            </div>
        </li>
        <li>
            <div class="sample1">
                <img src="../static/images/佐賀.jpg" alt="佐賀">
                <div class="mask">
                    <a href="https://rtrp.jp/locations/256/articles/" target="_blank">佐賀県_吉野ヶ里遺跡</a>
                </div>
            </div>
        </li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script>
</main>

{% endblock %}